{% extends 'posts/base.html' %}

{% block content %}


    <section class="text-gray-600 body-font min-vh-100">

        <div class="flex justify-center py-4">
            <h1 class="font-bold text-4xl text-indigo-500">Archive Job Posts</h1>
        </div>
        <div class="flex justify-end pt-4">
            <a type="button" href="{% url 'my-job-list' %}"
               class="w-6 h-12 text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                     width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M15 4h3a1 1 0 0 1 1 1v15a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h3m0 3h6m-3 5h3m-6 0h.01M12 16h3m-6 0h.01M10 3v4h4V3h-4Z"/>
                </svg>
            </a>
        </div>
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-wrap -mx-4 -my-8">
                {% if jobs %}
                    {% for job in jobs %}
                        <a href="{% url 'job-details' job.id %}" class="py-8 px-4 lg:w-1/3 h-90">
                            <div class="p-4 border border-slate-900 rounded-xl h-90">
                                <div class="flex items-start border-slate-900 h-90">
                                    <div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
                                        <span class="text-gray-500 pb-2 mb-2 border-b-2 border-gray-200">{{ job.date_posted|date:"M" }}</span>
                                        <span class="font-medium text-lg text-gray-800 title-font leading-none">{{ job.date_posted.date.day }}</span>
                                    </div>
                                    <div class="flex-grow pl-6 h-90">
                                        <h2 class="tracking-widest text-2xl title-font font-medium text-indigo-500 mb-1">{{ job.deal_payment }}
                                            $</h2>
                                        <h1 class="title-font text-xl font-medium text-gray-900 mb-3">{{ job.job_title }}</h1>
                                        <p class="leading-relaxed mb-5">
                                            {{ job.job_description|slice:":120" }}{% if job.job_description|length > 80 %}
                                                ...{% endif %}
                                        </p>
                                        <div class="inline-flex items-center relative bottom-0">
                                            <img alt="blog" src="{{ job.posted_by.profile.image.url }}"
                                                 class="w-8 h-8 rounded-full flex-shrink-0 object-cover object-center">
                                            <span class="flex-grow flex flex-col pl-3">
                                            <span class="title-font font-medium text-gray-900">{{ job.posted_by.username }}</span>
                                          </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                {% else %}
                    <div class="min-vh-100">
                        <h1 class="text-4xl font-bold">Your haven't created any job</h1>
                    </div>
                {% endif %}

            </div>
        </div>
    </section>
    <div class="flex justify-center gap-2">
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}

        {% endif %}

    </div>


{% endblock %}